@charset "UTF=8";

/*  SITES RELEVANTES

Curso em Vídeo Modulo 2
https://www.youtube.com/watch?v=I_vi2q6sC1k&list=PLHz_AreHm4dlUpEXkY1AyVLQGcpSgVF8s&index=36

Fontes do Google
https://fonts.google.com/

caracteres especiais
https://emojipedia.org/check-mark



*/

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
    font-family: "Android";
    src: url("../fontes/idroid.otf") format("opentype");
    font-weight: normal;
}

:root {
    --cor0: #ddedf0;
    --cor1: #83b3e1;
    --cor2: #3e8feb;
    --cor3: #1273c4;
    --cor4: #1d3fda;
    --cor5: #200e86;
    --cor6: #000000;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: "Bebas Neue", cursive;
    --fonte-android: "Android", cursive;
}

* {
    /* configuração global para todos os elementos */
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    font-weight: bolder;
    color: var(--cor4);
}

h1 {
    text-align: center;
    color: white;
    font-family: var(--fonte-padrao);
    font-weight: bolder;
    font-size: 2em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.452);
}

body {
    
background-color: #000000;
font-family: var(--fonte-padrao);

}

a.externo::after {
    content: '\🔗';
}

header {

    min-height: 50px;
    text-align: center;
    padding-top: 40px;

}




/**********************************  inicio configuração do menu ***********************************/
#divcentral{
    display: flex;
    max-width: 800px; 
    margin: auto;
    justify-content: space-around;
}

#divmenu {
  /*   background-color: #f0f0f0; */
    max-width: 800px;
    padding: 10px;
    justify-content: space-around;
}

#navmenu{
    display: flex; /* Alinha os itens horizontalmente */
    width: 800px;
    justify-content: space-around;
    padding: 10px;
    text-shadow: 0px 7px 9px rgba(0, 0, 0, 0.452);
   
}

nav a {

    color: var(--cor2);
    padding: 10px;
    border-radius: 5px;
    font-family: var(--fonte-destaque);
    font-size: 2em;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;    /* da um atraso para fazser o efeito*/
    
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.089);
    color: white;

}

/* submenu */

#divmenu {
    position: relative; /* Define o contexto de posicionamento */
}

ul.submenu {
    display: none; /* Esconde o submenu inicialmente */
    position: absolute; /* Permite que o submenu flutue */
    top: 100%; /* Posiciona logo abaixo do link PROJETOS */
    left: 0; /* Alinha à esquerda */
    background-color: #00000075; /* Cor de fundo */
    /* border: 1px solid #02020252;  Borda para o submenu */
    list-style-type: none;
    padding: 0;
    
   
    z-index: 1000; /* Garante que o submenu fique acima de outros elementos */
    width: auto; /* Largura do submenu */
}

ul li {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 0.7em;
}

ul#projetolist{
/*     margin-top: -10px; */
    margin-left: 25%;

}

ul#utilitarioslist{
    margin-left: 50%;
    
}

ul#sobrelist{
    margin-left: 80%;
    
}

ul.submenu li {
    padding: 10px;
}

ul.submenu a {
    text-decoration: none;
    color: var(--cor2);
    display: block;
}

ul.submenu a:hover {
    background-color: #f0f0f0; /* Efeito hover */
}

/* fim do submenu */


  /* Media query para telas menores (ex: tablets) */
  @media (max-width: 880px) {

    #divcentral{

        width: auto;
    }

    #divmenu {
        /*   background-color: #f0f0f0; */
           width: auto;
          padding: 0px;
          justify-content: space-around;
      }

      #navmenu{
         width: auto;

    }

    #navmenu a {
        font-size: 1.5em; /* Diminui o tamanho da fonte */
        padding: 8px 12px;
    }
}

/********************************** fim configuração do menu ***********************************/
main {
    min-height: 940px;
    min-width: 300px;
    max-width: 800px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    /* background: white; */
    /* box-shadow: 0px 0px 10px black; */
    /* configurar borda individualmente */
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

main p{
    margin: 0px 0px;
    text-align: justify;
    text-indent: 30px;    /* é o quanto ele dará de recuo de paragrafo no inicio do texto*/
    font-size: 1em;
    line-height: 2em;     /*  é o espaçamento de uma linha para outra linha de baixo e de cima, parecido com o padding  */
}

main strong {
    color: var(--cor4);
    font-weight: bold;

}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background: var(--cor1);
    padding: 2px 6px;
}

main a:hover {
    text-decoration: underline;

    color: pink;
}

main img.pequena {
    max-width: 400px;   /* não deixa que ela estique muito, para não desfocar */
    /* para centralizer uma imagem, precisamos transfoma-la em bloco */
    display: block;
    margin: auto;
}

main h1 {
    color: var(--cor5);

}

main h2 {

    color: var(--cor4); 
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor1,), transparent);
    text-indent: 8px;
}

main img {
    width: 100%;
}

div.video {
    background-color: var(--cor5);
    margin-bottom: 30px;
    margin: 0px -20px 30px;
    padding: 20px;
    padding-bottom: 50%;
    position: relative;
}

div.video > iframe {
    position: absolute;   /* só é possível usar top, left, width e height, usando position: absolute; onde a div de cima tiver o position: relative;  */
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;

}

footer {
    background: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8;
    padding: 5px;
}

aside {
    background: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px black;
}

aside > ul {
    list-style-type: '\✔️';     /*  caso queria colocar um espaço maoir entre o simbolo e o texto basta digitar :  '\✔️'\00A0'; e assim por diante, caso queira colocar mais espaços ou simbolos */  
    list-style-position: inside;  /*  posiciona a bolinha da lista para dentro da lista  */
    columns: 2;


}

aside > h3 {
    background: var(--cor4);
    color: white;
    padding: 5px;
    margin: -10px -10px 0px -10px;   /*  botamos valores negativos para ela crescer para o lado oposto */
    border-radius: 10px 10px 0px 0px;
}


footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none; 
    
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
}

/**************************************CONFIGURAÇÃO DO MERCADO*********************** */
#mercado{
   display: none;
   background-color: var(--cor0);
   padding: 10px;
   
   max-width: 800px;
   margin: 0 auto;
   padding: 20px;
   border-radius: 8px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}




h1 {
    text-align: center;
    margin-bottom: 20px;
}

.produto-card {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 6px;
}


.menor-preco {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: #f9f9f9;
}

.blanca .preco-volume {
    color: red; /* Indica o erro #DIV/0! */

}

/* ... seus estilos CSS anteriores ... */

.botoes-controle {
    display: flex;
    gap: 10px;
    margin-bottom: 5px;
    justify-content: center;
}

.botoes-controle button {
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background-color: #eee;
}

.botoes-controle button:hover {
    background-color: #ddd;
}

/**************************************CONFIGURAÇÃO DO MERCADO*********************** */
